.frame_of_canvas {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width: 95%;
    max-width: 90vh;
    canvas {
        position: absolute;
        width: 100%;
    }
    &::after {
        content: "";
        display: block;
        padding-top: 50%;
        padding-bottom: 50%;
    }
}

#main_canvas {
    background: url(/piskel/source/screens/canvas/background.png);
    box-shadow: 2px 4px 6px black;
    image-rendering: pixelated;
    z-index: 1;
}

#hover_canvas {
    image-rendering: pixelated;
    opacity: 0.5;
    z-index: 3;
}