#main_canvas {
    margin: auto;
    width: 30vw;
    height: 30vw;
    background: url(/piskel/source/screens/canvas/background.png);
    box-shadow: 2px 4px 6px black;
    image-rendering: pixelated;
}