.main_present {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    background: #686868;
}

.preview {
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 1620px;
    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column-reverse;
    }
    @media screen and (max-width: 720px) {
        padding: 20px;
    }
}

.information {
    max-width: 400px;
    margin: auto;
    @media screen and (max-width: 1024px) {
        margin: 20px auto 0;
    }
    .information--title {
        font-size: 3rem;
        @media screen and (max-width: 1024px) {
            font-size: 2rem;
        }
    }
    .information-description {
        margin: 10px 0;
        font-size: 2rem;
        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
        }
    }
    button {
        margin: 0 10px;
        padding: 5px 10px;
        border: 1px #000000 solid;
        border-radius: 10px;
        font-size: 1.5rem;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        background: linear-gradient(125deg, #ff9900, #fff400);
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            border-color: #ffffff;
            color: #ffffff;
            transition: 0.2s;
        }
    }
}

.screenshot {
    margin: auto;
    position: relative;
    img {
        width: 100%;
        max-width: 900px;
    }
    .rotor {
        position: absolute;
        width: 17%;
        top: 11%;
        right: 5%;
        background-image: url(/piskel/source/layouts/mainPresent/animations/background.png);
        background-size: 16px;
    }
}

.examples {
    // height: 220px;
    background: #222222;
    .examples--title {
        padding-top: 20px;
        margin: auto;
        width: fit-content;
        font-size: 2rem;
        color: #ffffff;
    }
    .examples--list {
        margin: 20px auto;
        max-width: 700px;
        width: fit-content;
        color: #ffffff;
        display: flex;
        list-style: none;
        li {
            margin: 5px;
            display: flex;
            align-items: center;
            border: 5px #acacac solid;
            width: 100px;
            height: 100px;
            background-image: url(/piskel/source/layouts/mainPresent/animations/background.png);
            background-size: 16px;
            img,
            a {
                width: 100%;
                height: 100%;
            }
        }
        @media screen and (max-width: 720px) {
            flex-wrap: wrap;
            width: 360px;
        }
    }
}